body {
  background-color: #ffffff;
}

.card {
  border-radius: 10px;
}

.table th {
  background-color: #464646;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e9ecef;
}

#map {
  border-radius: 10px;
}
